<%- include('partials/header', {"page_title": idea.title}); %>
<div class="container">
  <div class="list-group">
    <h4 class="list-group-item-heading">
      <%= idea.title %>
    </h4>
    <p class="list-group-item-text">
      <%= idea.description %>
    </p>
  </div>
  <a href="/upvote/<%= ideaId %>" class='btn btn-default btn-sm'>
    <span class='glyphicon glyphicon-thumbs-up'></span>
    upvote <%= totalUpVotes%>
  </a>
  <a href="/downvote/<%= ideaId %>" class='btn btn-default btn-sm'>
    <span class='glyphicon glyphicon-thumbs-down'></span>
    downvote <%= totalDownVotes%>
  </a>
  <hr/>
  <h4>
    <b>
      <span class='glyphicon glyphicon-comment'> </span>
      Comments
    </b>
  </h4>

  <% for(let comment of idea.comments) {%>
  <div class="media">
    <div class="media-body">
      <h5 class="media-heading">
        <b><%= comment.username%></b>
      </h5>
      <p>
        <%= comment.comment %>
      </p>
    </div>
  </div>

  <% } %>

  <p>
    <%= (idea.comments.length < 1) ? 'No comments' : '' %>
  </p>

  <hr/>
  <form method="post" action="<%= '/idea/comment/'+ideaId %>">

    <div class="form-group  <%= (errors[0] ? 'has-error': '') %>">
      <label for="comment" class="commentBox">
        Add comment:
      </label>
      <textarea class="form-control" name="comment" rows="5" id="comment"></textarea>
      <span class="help-block"> <%= errors[0] %> </span>
    </div>

    <div class="form-group">
      <button class="btn btn-danger" type="submit">Add comment</button>
    </div>

  </form>
</div>
